*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

img{
    display: block;
    
}
*/utility class
nowrap{
    white-space: nowrap;
}
.offscreen{
    position-try: absolute;
    left: -10000px;
    
}
body{
    font-family: "Nunito",sans-serif;
    min-height: 100vh;
}

.hero{
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color:   rgb(251,210,156);
    background: url('back.png');
    background-repeat: repeat;
    background-size: cover;
}
h1{
    font-size: 500%;
}
.profile-pic-figure{
    width: 35%;
}
.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}
.example img{
     width: 25%;
     height: auto;
}