*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

img{
    display: block;
    
}
*/utility class
nowrap{
    white-space: nowrap;
}
.offscreen{
    position-try: absolute;
    left: -10000px;
    
}
body{
    font-family: "Nunito",sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image:url('back.png'),linear-gradient(to left,steelblue,purple,white);
    background-repeat:  repeat-y,no-repeat;
    background-position:right center ;
    background-size :20% auto
}
.container{
    background-color:   rgb(251,210,156);
    background: url('tr.jpg');
    background-repeat: repeat;
    background-position: center;
    /* background-size: cover; */
   

}

.hero{
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: hsla(0,100% , 0%, 0.35); 
    
}
h1{
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}
.profile-pic-figure{
    width: 35%;
}
.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}
.example img{
     width: 25%;
     height: auto;
}
.clip{
    font-weight: 800;
    font-size: 10rem;
    text-align: center;
    background-image: url('tr.jpg');
    background-size :100%;
    text-transform: uppercase; 
    /*go to can i use.com */
    -webkit-background-clip: text;
    /* color: rgba(0, 0, 0, 0); */
    color: transparent;
}