*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    color: crimson;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between ;
    
}
header{
    background-color:rgba(24, 24, 29, 0.741);
}

.header_btn{
    width: 100px;
    height: 100px;
border-radius: 15px;
font-size: 60px;
margin: 10px;
}
.header_btn--secondary{
    background-color: yellow;
}
.header_btn--lean{
    transform: skewX(-10deg);
}
.header_btn--border-lg{
    border: 5px solid whitesmoke;
}